.container-search {
    padding-top: 20px;
    margin-left: 10px;
    width: 55%;
    margin: 0 auto;
}

.list-button {
    padding-top: 20px;
    width: 100%;
    margin: auto;
    text-align: center;
}

.image {
    height: 100%;
    width: 37%;
}