<header>
    <nav>
        <div class="container">
            <div class="nav-main">
                <ul>
                    <li>
                        <a routerLink="">Trang chủ</a>
                    </li>
                    <li>
                        <a routerLink="agencys">Danh sách nhà xe</a>
                    </li>
                    <li>
                        <a routerLink="tickets">Tra cứu vé</a>
                    </li>
                    <li>
                        <div class="dropdown taikhoan">
                            <a class="dropbtn" style="color: white" *ngIf="!tokenStorageService.loggedIn()">Tài khoản</a>
                            <a class="dropbtn" style="color: red;">Xin Chào {{decodeJwtService.getDecodedAccessToken().fullName}}</a>
                            <div class="dropdown-content">
                                <a routerLink="singin" style="color: black;">Đăng Nhập</a>
                                <a (click)="singOut()" style="color: black;">Đăng Xuất</a>
                            </div>
                        </div>
                    </li>

                    <li>
                        <a routerLink="register-agency">Đăng kí đại lý</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="nav-mobile">
            <ul>
                >
                <li>
                    <a href="#">Trang chủ</a>
                </li>
                <li>
                    <a href="#">Danh sách nhà xe</a>
                </li>
                <li>
                    <a href="#">Kiểm tra vé</a>
                </li>
                <li>
                    <a href="#">Đăng nhập</a>
                </li>
            </ul>
        </div>
    </nav>
</header>