.ok {
    width: 100%;
    background-color: #7FFFD4;
}

.rate {
    margin: 0 auto;
    width: 350px;
    height: 130px;
    /* background-color: tomato; */
}

h2 {
    /* margin: 0 auto; */
    text-align: center;
}

.btn {
    margin: 0 auto;
}


/* .star{
    width: 20px;
    height: 20px;
    color: green;
} */

.rating-list {
    display: inline-block;
    list-style: none;
}

.lb {
    font-size: 20px;
}

.service li {
    font-size: 20px;
    float: right;
    color: #ddd;
    padding: 0 3px;
}

.service li:hover {
    color: #ffd700;
}

.service li.selectedS {
    color: #ffd700;
}

.quality li {
    font-size: 20px;
    float: right;
    color: #ddd;
    padding: 0 3px;
}

.quality li:hover {
    color: #ffd700;
}

.quality li.selectedQ {
    color: #ffd700;
}


/* .rating-list {
    li {
    font-size: 20px;
        float: right;
        color: #ddd;
        padding: 10px 5px;
        &:hover {
            color: #ffd700;
            ~ {
                li {
                    color: #ffd700;
                }
            }
        }
    }
    li.selected {
        color: #ffd700;
    }
    display: inline-block;
    list-style: none;
} */