<div class="ok">
    <h2 mat-dialog-title> Nhà Xe {{agency.nameAgency}}</h2>

    <mat-dialog-content>

        <div class="rate">

            <div class="row">
                <div class="col-sm-7">
                    <label for="" class="lb">Đánh giá chất lượng</label>
                </div>
                <div class="col-sm-5 ">
                    <ul class="list-inline rating-list quality" *ngFor="let starQuality of stars1; let i1= indexa" style="display: inline-block">
                        <li (click)="countStarQuality(starQuality)" id="{{'starIdQ'+i1}}" [ngClass]="{'selectedQ': (starQuality <= selectedValueQulity)}" (mouseover)="addClassQuality(starQuality)" (mouseout)="removeClassQuality(starQuality)"> ★
                        </li>
                    </ul>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-7">
                    <label for="" class="lb">Đánh giá phục vụ</label>
                </div>
                <div class="col-sm-5 ">
                    <ul class="list-inline rating-list service" *ngFor="let starService of stars2; let i2= indexb" style="display: inline-block">
                        <li (click)="countStarService(starService)" id="{{'starIdS'+i2}}" [ngClass]="{'selectedS': (starService <= selectedValueService)}" (mouseover)="addClassService(starService)" (mouseout)="removeClassSercice(starService)"> ★
                        </li>
                    </ul>
                </div>
            </div>

        </div>

    </mat-dialog-content>

    <mat-dialog-actions class="btn">
        <button class="mat-raised-button btn btn-danger" (click)="close()">Close</button>
        <button class="mat-raised-button btn btn-success" (click)="save()">Save</button>
    </mat-dialog-actions>
</div>