.book-ticket{
    margin: 0 auto;
    margin-top: 20px;
    width: 65%;
    height: 260px;
   
}

.btn-xn{
    margin: 0 auto;
    width: 200px;
}
.form-group{
    margin: 0 15px;
}

.space{
    margin-top: 5px;
}